* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222222;
}

img {
  max-width: 400px;
}

.red_outline {
  border: 1px solid red;
  padding: 20px; 
  margin: 10px; 
  background-color: azure;

}

.article 1 > section {
  color: blue;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited {
  
}