* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #853219;
}

.hidden {
  display: none;
}

.min_input {
  min-width: 200px
}

img {
  max-width: 400px;
}

.red_outline {
  border: 1px solid red;
  padding: 20px; 
  margin: 10px; 
  background-color: #ffff83;

}

#article1 > section, #article2 > section, #article3 > section {
  color: red;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited {
  
}